.header-color { 
  background: black;
  background: -webkit-linear-gradient(to right,  #3498DB,  #3498DB);  
  background: linear-gradient(to right,  #3498DB,  #3498DB);
}

.home-content {
  background-color: #3498DB;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

.logo-img {
  height: 100px;
 
}

.main-title {
  text-align: center;
  color: #3498DB;
}

.home-content h4{
  color: white;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}

.product-img {
  height: 200px;
  width: 99%;
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;
  border-radius: 10px;
  margin: auto;
}

.about-content {
  background-color: #3498DB;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

.about-content h4{
  color: white;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}

.contact-content {
  background-color: #3498DB;
  width: 100%;
  margin: auto;
  border-radius: 20px;
}

.contact-content h4 {
  font-size: 25px;
  color: white;
  margin: auto;
  padding:10px;
  text-align:center;
  font-weight: bold;
}

.contact-content h5 {
  font-size: 20px;
  color: white;
  margin: auto;
  text-align: center;
  padding:15px;
  padding-right: 18px;

}

.contact-content i {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-right: 5px;
}
